services:
  # Backend Service (API)
  api:
    build:
      context: .
      dockerfile: server/Dockerfile
    container_name: jewelry_api
    restart: always
    env_file:
      - ./.env 
    expose:
      - "3001"
    volumes:
      - db_data:/usr/src/app/data
    environment:
      - ALLOWED_ORIGINS=http://deepasoms.duckdns.org,https://deepasoms.duckdns.org

  # Frontend Service (React UI/Nginx)
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - VITE_API_BASE_URL=http://deepasoms.duckdns.org/api
    container_name: jewelry_frontend
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - api

volumes:
  db_data: