services:
  # 1. Backend Service (API) - MUST START FIRST
  api:
    build:
      context: .
      dockerfile: server/Dockerfile
    container_name: jewelry_api
    restart: always
    env_file:
      - ./.env 
    ports:
      - "3001:3001" 
    # Mount the volume to the directory path used by server.js (/usr/src/app/data)
    volumes:
      - db_data:/usr/src/app/data
    # DEPENDENCY REMOVED: API no longer depends on frontend.

  # 2. Frontend Service (React UI/Nginx) - MUST START SECOND
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - VITE_API_BASE_URL=http://api:3001
    container_name: jewelry_frontend
    restart: always
    ports:
      - "80:80"
      - "443:443"   # <-- add this
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt:ro     # <-- mount SSL certs
      - ./inhouseOMS/nginx.conf:/etc/nginx/conf.d/default.conf:ro

    depends_on:
      - api


volumes:
  db_data:
