services:
  api:
    build:
      context: .
      dockerfile: server/Dockerfile
    container_name: jewelry_api
    restart: always

    env_file:
      - ./.env

    ports:
      - "3001:3001"

    # Mount only the DB directory, NOT the whole project
    volumes:
      - db_data:/usr/src/app/data

    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3001/api/orders"]
      interval: 30s
      timeout: 10s
      retries: 5


  frontend:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - VITE_API_BASE_URL=http://api:3001
    container_name: jewelry_frontend
    restart: always
    ports:
      - "80:80"
    depends_on:
      api:
        condition: service_healthy

volumes:
  db_data:
